@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add utility class globally */
@layer utilities {
  .animate-slideInUp {
    animation: slideInUp 0.7s ease-out forwards;
  }
}

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

#titlePlate {
  font-family: var(--font-tallios);
  font-size: 175px;
  color: #000000;
}
